.container {
    width: 384px;
    height: auto;

    display: flex;
    flex-direction: column;
    gap: 22px;

    color: var(--color-white);
}

.title {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.title img {
    width: 25px;
    height: 25px;
}

.title h2 {
    font-size: 19px;
    font-weight: bold;
}

.paragraph p {
    font-size: 16px;
    font-weight: 500;
}

@media screen and (max-width: 885px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 540px) {
    .title h2 {
        font-size: 18px;
    }
}