.container {
    width: 100%;
    height: auto;

    padding: 0 120px;

    margin-top: 65px;

    color: var(--color-white);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image img {
    width: 90%;
    height: auto;
}

.title h2 {
    font-size: 30px;
    font-weight: bold;

    text-align: center;
}

.paragraph {
    margin-top: 30px;

    width: 600px;
}

.paragraph p {
    font-size: 16px;
    font-weight: 500;
}

.button {
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1281px) {
    .image img {
        width: 80%;
    }
    
    .paragraph {
        width: 500px;
    }
}

@media screen and (max-width: 1115px) {
    .container {
        flex-direction: column;
        gap: 30px;
    }

    .image img {
        width: 400px;
    }

    .paragraph {
        width: 100%;
    }
}

@media screen and (max-width: 840px) {
    .container {
        padding: 0 80px;
    }

    .title h2 {
        font-size: 25px;
    }
}