.container {
    width: 100%;
    height: auto;

    margin-top: 65px;

    padding: 0 120px;

    color: var(--color-white);
}

.title h2 {
    text-align: center;

    font-size: 35px;
    font-weight: bold;
}

.auctions {
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.auctions p {
    font-size: 16px;
    font-weight: 500;
}

.auctions p span {
    color: var(--color-red);
}

.button {
    margin-top: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
  opacity: 0;
  transform: translateX(-80px);
  transition: all 0.8s ease-out;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

.hide {
  opacity: 0;
  transform: translateX(-80px);
}


@media screen and (max-width: 885px) {
    .container {
        padding: 0 80px;
    }

    .title h2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 540px) {
    .container {
        padding: 0 20px;
    }

    .title h2 {
        font-size: 22px;
    }
}