.container{
	padding-inline: 120px;

    margin-top: 65px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerTwo{
    width: 80%;

	background: var(--color-gray);
	border-radius: 4px 4px 0 0;
	overflow: hidden;
}

.questionBox{
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 20px;
	color: var(--color-white);
	background: var(--color-gray);
	cursor: pointer;

    border-bottom: 1px solid var(--color-red);
}

.questionText{
	flex: 1;
}

.answerBox{
	padding: 15px;
	background: var(--color-white);
	color: var(--color-gray);
}

.icon{
	width: 20px;
	height: 20px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.iconOpen{
	transform: rotate(90deg);
	transition: transform 200ms ease;
}

.icon{
	transition: transform 200ms ease;
}

.hidden{
	display: none;
}


@media screen and (max-width: 885px) {
    .container {
        padding-inline: 80px;
    }

    .containerTwo {
        width: 100%;
    }
}

@media screen and (max-width: 440px) {
    .container {
        padding: 0 20px;
    }
}