.container {
    background-image: url('../../assets/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100vw;
    height: 100vh;

    color: var(--color-white);

    display: flex;
    flex-direction: column;
}

.text {
    width: 50%;

    margin-block: auto;
    margin-left: 15%;

    text-align: center;
}

.text h1 {
    font-size: 45px;
    font-weight: bold;
}

.text p {
    font-size: 22px;
    font-weight: 500;

    margin-top: 27px;
}

.text button {
    margin-top: 67px;
}

@media screen and (max-width: 1115px) {
    .text h1 {
        font-size: 35px;
    }

    .text p {
        font-size: 20px;
    }
}

@media screen and (max-width: 885px) {
    .container {
        background-image: url('../../assets/banner-mobile.png');

        align-items: center;
        justify-content: center;
    }

    .text {
        margin: 0;
    }
    
    .text h1{
        font-size: 28px;
    }

    .text p {
        font-size: 18px;
    }

    .text button {
        margin-top: 60px;
    }
}