.container {
    width: 100%;
    height: auto;

    padding: 0 120px;

    margin-top: 65px;

    color: var(--color-white);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image img {
    width: 500px;
    height: auto;
}

.title h2 {
    font-size: 30px;
    font-weight: bold;

    text-align: center;
}

.paragraph {
    margin-top: 30px;

    width: 600px;
}

.paragraph p {
    font-size: 16px;
    font-weight: 500;
}

.button {
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
  opacity: 0;
  transform: translateX(-80px);
  transition: all 0.8s ease-out;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

.hide {
  opacity: 0;
  transform: translateX(-80px);
}


@media screen and (max-width: 1301px) {
    .image img {
        width: 450px;
    }

    .paragraph {
        width: 500px;
    }
}

@media screen and (max-width: 1115px) {
    .container {
        flex-direction: column;
        gap: 30px;
    }

    .paragraph {
        width: 100%;
    }

    .image img {
        width: 400px;
    }
}

@media screen and (max-width: 885px) {
    .container {
        padding: 0 80px;
    }

    .title h2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 540px) {
    .container {
        padding: 0 20px;
    }

    .image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image img {
        width: 80%;
    }

    .title h2 {
        font-size: 22px;
    }
}