.container {
    width: 100%;
    height: auto;

    color: var(--color-white);
    background: var(--color-gray);

    padding: 35px 120px;
    margin-top: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image img {
    width: 200px;
}

.description p {
    font-size: 14px;
    font-weight: 500;
}

.description a {
    color: var(--color-red);
}

@media screen and (max-width: 840px) {
    .container {
        padding: 20px;

        flex-direction: column;

        text-align: center;
    }
}