.container {
    width: 100%;
    height: auto;

    padding: 55px 120px;

    background: var(--color-red);

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media screen and (max-width: 1281px) {
    .container {
        justify-content: center;
        align-items: center;
        gap: 60px;
    }
}

@media screen and (max-width: 840px) {
    .container {
        padding: 40px 80px;
    }
}